@model Registration
<hr class="featurette-divider">
<h2 id="register-now">Register now</h2>

<!-- convince your boss? -->
<form asp-controller="Home" asp-action="Register" asp-anti-forgery>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            @Html.ValidationSummary()
        </div>
    }

    <div class="form-group">
        <label for="email">Email address</label>
        @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @placeholder = "Email", @class = "form-control", @required = true } })
    </div>
    <div class="form-group">
        <label for="fname">First Name</label>
        @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @placeholder = "First Name", @class = "form-control", @required = true } })
        
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { @placeholder = "Last Name", @class = "form-control", @required = true } })
    </div>
    <div class="form-group">
        <label>Sessions</label>
        <div class="checkbox">
            <label>
                @Html.EditorFor(x => x.Session1) Visual Studio 2015 - ASP.NET 5
            </label>
        </div>
        <div class="checkbox">
            <label>
                @Html.EditorFor(x => x.Session2) DevOps: Creating a deployment pipeline using Visual Studio, TFS & Azure
            </label>
        </div>
    </div>
    <div>
        <input type="submit" value="Register!" class="btn btn-primary" />
    </div>
</form>


